@page "/"

<PageTitle>CV</PageTitle>

<style>
    h1 {
        color: #2c3e50;
        font-family: 'Arial', sans-serif;
    }
    h2 {
        color: #34495e;
        font-family: 'Arial', sans-serif;
    }
    h3 {
        color: #16a085;
        font-family: 'Arial', sans-serif;
    }
    p {
        font-family: 'Arial', sans-serif;
        color: #7f8c8d;
    }
    a {
        color: #2980b9;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    ul {
        list-style-type: square;
        padding-left: 20px;
    }

   div {
        max-width: 1600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ecf0f1;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
</style>

<div>

    <h1>Meu Currículo</h1>

    <h2>Davi Motta</h2>
    <p>Butantã, São Paulo, SP</p>

    <h3>Objetivo</h3>
    <p>Conquistar oportunidades em áreas de negócio em Consultoria Estratégica ou no Mercado Financeiro.</p>

    <h3>Experiência</h3>
    <p>Intern | Heartman House Consultores | Jan 2025 - Presente</p>
    <ul>
        <li>Participação de entrevistas com executivos e colaboradores para mapear desafios organizacionais e estratégicos.</li>
        <li>Criação de agentes especializados no GPT para aprimorar a análise e interpretação de dados.</li>
        <li>Identificação de "hot issues" empresariais e proposição de soluções alinhadas à cultura e estratégia organizacional.</li>
    </ul>

    <h3>Premiações e Reconhecimentos</h3>
    <ul>
        <li>Equipe mais premiada no Hackathon ETH Samba 2024 e finalista no Hackathon CCEE 2024</li>
        <li>Bolsista do Ismart: bolsas para desenvolvimento acadêmico, profissional e pessoal.</li>
    </ul>

    <p>
        <a href="https://www.linkedin.com/in/davi-motta/" target="_blank">LinkedIn</a>
        <br />
        <a href="https://github.com/Davimtta" target="_blank">GitHub</a>
    </p>
</div>